<section class="bg-[url('/girl.avif')] bg-cover h-full rounded-3xl text-white flex flex-col items-start justify-end">
    <h3 class="font-medium text-[36px] mb-[30px] px-[100px]">O Helpinho pode mudar a vida de milhões de pessoas todos os dias</h3>

    <div class="flex justify-between items-center w-full mb-[50px]">
        <div class="w-fitflex flex-col text-start pl-[100px]">
            <h4 class="font-semibold text-[30px] mb-[10px]">Amélie Laurent</h4>
            <h5 class="font-semibold text-[18px] mb-[5px]">Diretora de recursos, ONG</h5>
            <p class="font-medium text-[16px]">Web Development Agency</p>
        </div>
        
        <div class="flex w-[50%] justify-center items-center gap-[50px]">
            <img src="arrow1.png" alt="arrow"/>
            <img src="arrow2.png" alt="arrow"/>
        </div>
    </div>
</section>